html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: black; /* Set a dark background */
  overflow: hidden; /* Hide scrollbars for full-screen effect */
}

canvas {
  display: block; /* Ensures the canvas takes up full width */
}

/* Spacer. Eveything below is for the button texture*/

button {
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  position: absolute;
  overflow: hidden;
  background-color: #282828;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
  bottom: 20px;
  left: 20px;
}

button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
}

button {
  display: block;
  margin: 0 auto;
}
